/****************************************************************************************
*                                                                                       *
*                                        FONTS                                          *
*                                                                                       *
****************************************************************************************/
@font-face {
	font-family: "Amaranth";
	src: url("../fonts/amaranth.otf");
}
@font-face {
	font-family: "BreeSerif";
	src: url("../fonts/breeserif.ttf");
}
@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/opensans/OpenSans-Light.ttf");
}
@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/opensans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/opensans/OpenSans-Bold.ttf");
}
@font-face {
	font-family: "JosefinSansRegular";
	src: url("../fonts/JosefinSans-Regular.ttf");
}
@font-face {
	font-family: "PermanentMarkerRegular";
	src: url("../fonts/PermanentMarker-Regular.ttf");
}
/****************************************************************************************
*                                                                                       *
*                                     CSS COMMUN                                        *
*                                                                                       *
****************************************************************************************/
*{
    box-sizing:border-box;
}

body{
    font-family: "BreeSerif", sans-serif;
    text-align:center;
    background: url(../img/bubbles/bubbles2.jpg);
    background-size: contain;
    color: rgba(90,90,90,1);
}

.hidden{
    display:none;
}

/******************** Barre de Progression *******************/
#progressbar{
    background-color: rgba(101,222,12,1);
	height: 4px;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}

/**************** Flèche de remontée du document *************/
#body .fa-chevron-circle-up{ 
    color:rgba(0,0,0,0.4);
    font-size:40px;
    position: fixed;
    z-index:100;
    bottom:35px;
    right:5px;
} 

/********************* Background Animé Bulles ***************/
#bubble0,#bubble1,#bubble2,#bubble3,#bubble4,#bubble5,#bubble6,#bubble7,#bubble8,#bubble9{
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

#bubble0{
    background: url(../img/bubbles/bubblecolor100.png) 3% 10% no-repeat;
}
#bubble1{
    background: url(../img/bubbles/bubble50.png) 7% 15% no-repeat;
}
#bubble2{
    background: url(../img/bubbles/bubblecolor150.png) 12% 75% no-repeat;
}
#bubble3{
    background: url(../img/bubbles/bubble125.png) 35% 50% no-repeat;
}
#bubble4{
    background: url(../img/bubbles/bubbleblue100.png) 40% 80% no-repeat;
}
#bubble5{
    background: url(../img/bubbles/bubblecolor50.png) 65% 85% no-repeat;
}
#bubble6{
    background: url(../img/bubbles/bubble75.png) 75% 20% no-repeat;
}
#bubble7{
    background: url(../img/bubbles/bubble250.png) 90% 40% no-repeat;
}
#bubble8{
    background: url(../img/bubbles/bubbleblue50.png) 90% 75% no-repeat;
}
#bubble9{
    background: url(../img/bubbles/bubblecolor150.png) 98% 10% no-repeat;    
}

/************************** Titres ***************************/
#body .title{
    font-size:30px;
    margin:0 30px 40px ;
    padding-top:30px;
    font-family: 'Amaranth', sans-serif;
    color:rgba(108,122,30,1);
    border-bottom :1px solid rgba(200,200,200,1);
    line-height:1.4;
}

#body .title-small{ 
    font-size:25px;
    margin:30px 30px 40px ;
    font-family: 'Amaranth', sans-serif;
    color:rgba(108,122,30,1);
    text-decoration: underline;
}

/******************* Messages d'erreur en JS *****************/
.error-message{
    background-color: rgba(86, 217, 0, 0.3);
    border: 2px solid #FF3300;
    border-radius: 6px;
    margin: 20px 0;
    color: black;
    font-size: 17px;
    animation: error-message 200ms 10;
    max-width:400px;
    margin:0 auto;
}

@keyframes error-message{
    50%{
        background-color:orange;
        color:black;
    }
}

#body #container .error-message ul li{
    padding:0 20px 0;
    text-align: left;
    white-space:normal;
    color:red;
    list-style: disclosure-closed ;
    margin:5px 0;
}

#body .error-field{
    background-color:rgba(255,0,0,0.2);
}

/**************** Message de bon envoi d'un form *************/
.div-sending-ok i{
    display: block;
    font-size: 65px;
    color: rgba(52,201,36,1);
    margin-top: 65px;
}

.sending-ok{
    background-color: rgba(52,201,36,1);
    display: inline-block;
    padding: 15px;
    margin-bottom: 65px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}

/********** Les classes utliseés sur plusieurs pages *********/
.italic{
    font-style:italic;
    font-size : 13px;
}

.required{
    color:red;
    font-weight: bold;
    font-size:20px;
}

.required-blue{
    color:blue;
    font-weight: bold;
    font-size:20px;
}

/****************************************************************************************
*                                                                                       *
*                                         HEADER                                        *
*                                                                                       *
****************************************************************************************/
header{
    border-bottom: 1px solid grey;
    background-color:rgba(255,255,255,0.8);
}

header > div{
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    margin:0;
}

/******************* Logo et Titre du site *******************/
header figure{
    text-align:left;
    margin:0;
    display:flex;
    align-items: center;
}

.logo{
    width:100%;
    max-width:100px;
}

header figure figcaption{
    font-size:25px;
    color:rgba(108,122,30,1);
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}

/**************** Bouton d'ouverture de la  NAV **************/
.div-nav-btn{
    font-size:20px;
    text-align: right;
    padding-bottom:9px;
}

.div-nav-btn span{
    padding:7px;
    cursor: pointer;
}

.fa-bars{
    color:#7acf47;
    transition:all 0.5s ease 0s;
    padding:0 9px;
}

.rotate-nav-btn{
    transform: rotate(90deg);
    transition:all 0.5s ease 0s;
}

.fas{
    transition:all 0.5s ease 0s;
}

.rotate-icon{
    transform: rotate(-180deg);
    transition:all 0.5s ease 0s;
}

/**************************** NAV ****************************/
.width-nav{
    width:232px;
}

.border-nav{
    border:1px solid black;
}

header nav{
    display:flex;
    flex-direction:column;
    background-color: white;
    position:absolute;
    right:0;
    z-index: 102;
    font-family: 'OpenSansLight';
    width: 0;
    transition:all 0.5s ease 0s;
    overflow-x: hidden;
}

header nav a{
    display:block;
    text-decoration:none;
    color:black;
    padding:10px 50px;
    margin:10px;
    border : 1px solid rgba(0,0,0,0.2);
    font-size:20px;
    transition:all 0.5s ease 0s;
    white-space: nowrap;
}

header nav a:hover{
    transition:all 0.5s ease 0s;
    /* transform:scale(1.1); */
    transform:translateY(-3px);
}

/******* Couleurs de fond en hover de chaque bouton NAV ******/
header nav a:first-of-type:hover{
    background-color:rgba(255,255,0,0.4);
}

header nav a:nth-of-type(2):hover{
    background-color:rgba(0,255,0,0.4);
}

header nav a:nth-of-type(3):hover{
    background-color:rgba(75,0,130,0.4);
}

header nav a:nth-of-type(4):hover{
    background-color:rgba(255,140,0,0.4);
}

header nav a:nth-of-type(5):hover{
    background-color:rgba(0,154,160,0.4);
}

header nav a:last-of-type:hover{
    background-color:rgba(255,105,180,0.4);
}
/****************************************************************************************
*                                                                                       *
*                                   MAIN COMMUN                                         *
*                                                                                       *
****************************************************************************************/
main #container{
    background-color:rgba(255,255,255,0.7);
    padding-bottom:50px;
    margin:0 auto;
}

main .padding-top{
    padding-top:30px;
}

main .admin-connection{
    font-size:13px;
    border:1px solid green;
    background-color:rgba(0,255,0,0.2);
    width:230px;
    margin:0 auto;
    color: red;
    border-radius:6px;
    margin-bottom:25px;
}

main .admin-connection i{
    font-size:17px;
    padding-top:5px;
    display:block;
    color:rgba(150,215,60,1);
    margin-bottom:5px;
}

main .admin-connection p{
    margin:0;
    display:inline-block;
}

main .admin-connection .span-login{
    font-size:15px;
    color:rgba(235, 75, 155,1);
}

main .admin-connection p:last-of-type{
    margin-bottom:5px;
}

/******************* Message Prochain Evénement **************/
main .next-event{
    padding:13px 0 21px;
    max-width:500px;
    margin:0 auto;
    overflow: hidden;
}

main .next-event>div{
    padding:5px 0;
    color:black;
    position: relative;
    text-align: left;
}

main .next-event .title-event{
    z-index:49;
}

main .next-event .title-event img{
    width:20px;
    height:80px;
    transform:rotate(85deg);
    position: absolute;
    top:-35px;
    left:100px;
    z-index: 50;
}

main .next-event .title-event p{
    font-size:17px;
    transform: rotate(-5deg);
    padding:15px 5px;
    background-color: rgba(255,255,60,0.45);
    display:inline-block;
    margin:0 0 0 20px;
    font-family:'PermanentMarkerRegular', sans-serif;
}

main .next-event .slider-events{
    position:relative;
    display:inline-block;
    margin-top:-15px;
}

main .next-event .slider-events img:first-of-type{
    width:60px;
    position: absolute;
    top:-20px;
    right:-20px;
    transform: rotate(75deg);
}

main .next-event .slider-events .bg-slider{
    width:280px;
    height:145px;
    animation :blink 6s infinite ;
    cursor:pointer;
}

@keyframes blink{
    
    20%{
        background-color:transparent;
    }22%{
        background-color:rgba(255,255,0,0.4);
    }24%{
        background-color:transparent;
    }26%{
        background-color:rgba(75,0,130,0.4);
    }28%{
        background-color:transparent;
    }30%{
        background-color:rgba(255,140,0,0.4);
    }32%{
        background-color:transparent;
    }34%{
        background-color:rgba(0,154,160,0.4);
    }36%{
        background-color:transparent;
    }38%{
        background-color:rgba(255,105,180,0.4);
    }40%{
        background-color:transparent;
    }42%{
        background-color:rgba(0,255,0,0.4);
    }50%{
        background-color: rgba(0,255,0,0.35);
    }58%{
        background-color: rgba(0,255,0,0.3);
    }66%{
        background-color: rgba(0,255,0,0.25);
    }74%{
        background-color: rgba(0,255,0,0.2);
    }82%{
        background-color: rgba(0,255,0,0.15);
    }90%{
        background-color: rgba(0,255,0,0.1);
    }98%{
        background-color: rgba(0,255,0,0.05);
    }
}

main .next-event .slider-events .bg-slider p{
    font-size:20px;
    font-family:'JosefinSansRegular', sans-serif;
    position:absolute;
    text-align: center;
    width:100%;
}

main .next-event .slider-events .bg-slider p a{
    text-decoration: none;
    color:black;
}

main .next-event .slider-events .bg-slider p span:first-of-type{
    color:rgba(75,0,130,1);
    font-weight: bold;
}
main .next-event .slider-events .bg-slider p span:nth-of-type(2){
    color:rgba(255,140,0,1);
    font-weight: bold;
}
main .next-event .slider-events .bg-slider p span:nth-of-type(3){
    color:rgba(255,0,0,1);
    font-weight: bold;
}
main .next-event .slider-events .bg-slider p span:nth-of-type(4){
    color:rgba(255,20,147,1);
    font-weight: bold;
}

main .next-event .slider-events img:nth-of-type(2){
    width:60px;
    position: absolute;
    transform: rotate(-20deg);
    bottom:-30px;
    left:-15px;
}
/****************************************************************************************
*                                                                                       *
*                                   MAIN HOME                                           *
*                                                                                       *
****************************************************************************************/
/********** Articles "Qui suis-je?" , "Notre Histoire" *******/
#home #articles{
    max-width:760px;
}

#home .history{
    margin: 30px 0;
}

#home .identity {
    font-size:20px;
    color:rgba(50,205,50,1);
}

#home h1,#home p{
    line-height:1.4;
    margin:20px;
}

#home a{
    font-weight:bold;
    color:black;
}

#home img{
    width:100px;
    float:left;
    margin-left: 20px;
}

/********************  Aside "News&Events" *******************/
#news-events{
    background:linear-gradient(135deg, rgba(255, 255, 255,0.5) ,rgba(120, 255, 0,0.5) );
    padding:30px 5px;
    margin:0 20px;
    border: 3px outset rgba(0,0,0,0.4);
    color:rgba(108,122,30,1);
    box-shadow:0px 0px 15px black;
    max-width: 328px;
    margin:0 auto;
}

#news-events .title-news{
    font-size:30px;
    margin:30px auto 50px;
    width:264px;
}

#news-events ul{
    margin:22px 0;
}

#news-events ul li{
    text-align: left;
    font-size:15px;
    padding-right:20px;
    list-style: disclosure-closed ;
}
#news-events ul li span{
    color:rgba(80,80,80,1);
    font-weight: bold;
}

#news-events .no-event{
    border: 2px solid grey;
    padding: 18px;
    color: rgba(108,122,30,1);
    background-color: rgba(255,255,255,0.25);
}
/****************************************************************************************
*                                                                                       *
*                                   MAIN ALOE VERA                                      *
*                                                                                       *
****************************************************************************************/
/******************* Description de l'Aloe Vera **************/
#aloe-vera{
    max-width:600px;
    margin:0 auto;
}

#aloe-vera .aloe-description img:first-of-type{
    width:100px;
    float:left;
    margin: 10px 10px 0 20px;
}

#aloe-vera .aloe-description img:nth-of-type(2){
    width:100px;
    float:right;
    margin: 10px 20px 0 10px;
}

#aloe-vera .aloe-description img:nth-of-type(3){
    width:150px;
}

#aloe-vera .aloe-description p{
    line-height:1.4;
    margin:20px;
}

/************************* Les 10 raisons ********************/
#aloe-vera .reasons ol{
    padding:0 20px 0 50px;
    font-family:'OpenSansRegular', sans-serif;
    max-width:505px;
    margin:0 auto;
    text-align:left;
}

#aloe-vera .reasons ol li{
    opacity:0;
    transition:opacity,0.5s;
}

#aloe-vera .reasons ol li.vis-visible{
    opacity:1;
    transition:opacity,0.5s;
}

#aloe-vera .reasons ol li p{
    font-family: "OpenSansBold", sans-serif;
}

#aloe-vera .reasons ol li:first-of-type{
    color:rgba(255,105,180,1);
}
#aloe-vera .reasons ol li:nth-of-type(2){
    color:rgba(218,112,214,1);
}
#aloe-vera .reasons ol li:nth-of-type(3){
    color:rgba(138,43,226,1);
}
#aloe-vera .reasons ol li:nth-of-type(4){
    color:rgba(240,128,128,1);
}
#aloe-vera .reasons ol li:nth-of-type(5){
    color:rgba(255,69,0,1);
}
#aloe-vera .reasons ol li:nth-of-type(6){
    color:rgba(220,20,60,1);
}
#aloe-vera .reasons ol li:nth-of-type(7){
    color:rgba(255,140,0,1);
}
#aloe-vera .reasons ol li:nth-of-type(8){
    color:rgba(154,205,50,1);
}
#aloe-vera .reasons ol li:nth-of-type(9){
    color:rgba(34,150,34,1);
}
#aloe-vera .reasons ol li:nth-of-type(10){
    color:rgba(0,90,0,1);
}
/****************************************************************************************
*                                                                                       *
*                                   MAIN PRODUCTS                                       *
*                                                                                       *
****************************************************************************************/
#body #products .title{
    margin:0 30px;
} 

#products section{
    margin:20px;
}

/****************** NAV catégories de produits ***************/
#products nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items:center;
    margin-top:20px;
}

#products nav a{
    text-decoration:none;
    width:80px;
}

#products nav a:first-of-type,#products nav a:nth-of-type(2),#products nav a:nth-of-type(3),#products nav a:nth-of-type(4){
    padding:9px 0;
}

/************************* Les Produits **********************/
#products section article{
    display:flex;
    flex-direction: column;
    margin-top:70px;
}

#products section article:first-of-type{
    margin-top:0;
}

#products h2{
    font-size:30px;
    margin:75px 30px 0;
    font-family: "OpenSansBold", sans-serif;
    line-height:1.4;
    text-decoration: underline;
}

#products h3{
    font-size:20px;
    margin:20px 0 0;
}

#products img{
    width:150px;
    display:block;
    margin: 0 auto;
}

/****** Boutons "Description" et "Retour aux produits" *******/
#products section .clickable-img,#products #house-animals article .clickable-img{
    background-color: transparent;
    border:0;
}

#products section a,#products #house-animals article a,#product .return a,#product .return button{
    color:white;
    border-radius:20px;
    padding:10px;
    font-size:16px;
    font-weight:normal;
    border:1px solid rgba(255,255,255,1);
    cursor:pointer;
    text-decoration: none;
    transition:all 0.7s ease 0s;
    max-width: 205px;
    margin: 0 auto;
}

#body #product .return button{
    max-width: 280px;
}

#products section .clickable-img:hover,#products #house-animals article .clickable-img:hover{
    border:0;
    background-color: transparent;
}

#products section a:hover,#products #house-animals article a:hover,#product .return a:hover,#product .return button:hover{
    background-color: white;
    transition:all 0.7s ease 0s;
    border:1px solid rgba(0,0,0,0.5);
}

/*************** Les Couleurs NAV,Boutons,Titres *************/
#new a, .new .return a,.new .return button{
    background-color: rgba(255, 0, 0, 1);
}
#health a, .health .return a,.health .return button{
    background-color: rgba(92, 38, 131, 1);
}
#pain a, .pain .return a,.pain .return button{
    background-color: rgba(140, 204, 92,1);
}
#skin a, .skin .return a,.skin .return button{
    background-color: rgba(12, 100, 174,1);
}
#daily a, .daily .return a,.daily .return button{
    background-color: rgba(235, 75, 155,1);
}
#products #house-animals article a, .house-animals .return a,.house-animals .return button{
    background-color: rgba(90,90,90,1);
}

/* Couleurs selon les categories de produits*/
#new a:hover,#new h2,#new h3,#body .new .title, .new,#body .new .return a:hover,#body .new .return button:hover,.new #target .comments li span, .new #target-admin #comments li span{ 
    color:rgba(255, 0, 0, 1);
}
#products nav a:first-of-type,#products #health a:hover, #products #health h2, #products #health h3,#body .health .title, .health,#body .health .return a:hover,#body .health .return button:hover,.health #target .comments li span, .health #target-admin #comments li span{
    color: rgba(92, 38, 131, 1);
}
#products nav a:nth-of-type(2),#products #pain a:hover, #products #pain h2, #products #pain h3,#body .pain .title, .pain,#body .pain .return a:hover,#body .pain .return button:hover,.pain #target .comments li span, .pain #target-admin #comments li span{
    color: rgba(140, 204, 92,1);
}
#products nav a:nth-of-type(3),#products #skin a:hover, #products #skin h2, #products #skin h3,#body .skin .title, .skin,#body .skin .return a:hover,#body .skin .return button:hover,.skin #target .comments li span, .skin #target-admin #comments li span{
    color:rgba(12, 100, 174,1);
}
#products nav a:nth-of-type(4),#products #daily a:hover, #products #daily h2, #products #daily h3,#body .daily .title, .daily,#body .daily .return a:hover,#body .daily .return button:hover,.daily #target .comments li span, .daily #target-admin #comments li span{
    color:rgba(235, 75, 155,1);
}
#products nav a:nth-of-type(5),#products #house-animals article a:hover,#products #house-animals h2,#products #house-animals h3,#body .house-animals .title, .house-animals,#body .house-animals .return a:hover,#body .house-animals .return button:hover,.house-animals #target .comments li span, .house-animals #target-admin #comments li span{
    color: rgba(90,90,90,1);
}
#products nav a:nth-of-type(6){
    color: rgba(221, 151, 20,1);
}

/**** catégorie "Maison&Animaux" sans produits enregistrés ***/
#products #house-animals a{
    color:black;
    font-weight: bold;
    padding:0;
}

#products #house-animals a:hover{
    border:1px solid rgba(255,255,255,1);
}
/****************************************************************************************
*                                                                                       *
*                                MAIN PRODUCT DESCRIPTION                               *
*                                                                                       *
****************************************************************************************/
#product > div{
    max-width: 500px;
    margin:0 auto;
}

#product img{
    width:200px;
    display:block;
    margin: 0 auto;
}

/******************* La Description du Produit ***************/
#product .description{
    margin:0 20px;
}
#product .description p:first-of-type{
    margin:30px 0;
    text-align: center;
}

#product .description p{
    text-align: left;
    margin-left:20px;
}

#product .description p span{
    text-decoration: underline;
}

#body .div-description{
    margin-bottom:100px;
}

/******************** Lien retour aux produits ***************/
#product .return{
    margin:0 auto 50px;
}

/** Msg "aucun commentaire" et "votre comm a bien été envoyé */

.div-commentary-inform{
    margin:20px 10px;;
}

.div-commentary-inform i{
    display: block;
    font-size: 65px;
    color: rgba(52,201,36,1);
    margin-top: 65px;
}

.commentary-inform{
    font-size : 18px;
    margin:50px auto 20px;;
    padding:20px 10px;
    border: 1px solid green;
    border-radius:6px;
    max-width:400px;
    background-color:rgba(0,255,0,0.4);
    animation: commentary-inform 1s infinite ;    
}

.commentary-inform span{
    font-size : 22px;
    color:red;
}

@keyframes commentary-inform{
    
    50%{
        background-color:rgba(0,255,0,0.1);
    }
}

/**************** Formulaire Commentaire du produit **********/
#product form{
    margin:0 10px 25px;
}

#product fieldset{
    max-width: 400px;
    margin: 40px auto 0;
}

#product form fieldset legend{
    font-size: 25px;
    color: rgba(108,122,30,1);
}

#product form fieldset ul{
    list-style: none;
    padding-left: 0;
}

#product form fieldset ul li{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    white-space: nowrap;
    align-items: center;
}

#product form fieldset ul li>input,#product form fieldset ul li select,#product form fieldset ul li textarea{
    width:172px;
}

#product form fieldset ul li input,#product form fieldset ul li select{
    height: 35px;
    margin-bottom: 5px;
    border:0;
    background-color: rgba(0,255,0,0.2);
    border-radius: 20px;
    padding:0 15px;
}

#product form input:focus,#product form textarea:focus{
    background-color: rgba(0,255,0,0.4);
    border:0;
    outline: -webkit-focus-ring-color auto 0px;  /*permet de contrer le focus "natif" sur webkit : chrome .... */
}

#product form fieldset ul li select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-left: -20px;
}

#product form fieldset ul li select:focus{
    outline: -webkit-focus-ring-color auto 0px;  /*permet de contrer le focus "natif" sur webkit : chrome .... */
}

#product form textarea{
    resize:none;
    height:170px;
    border:0;
    background-color: rgba(0,255,0,0.2);
    border-radius: 20px;
    padding:10px 10px 10px 15px;
    margin-left:-7px;
}

/************************ Bouton Envoyer *********************/
/************** (Pour product.php et contact.php) ************/
.submit-btn{
    background-color: white;
    padding:10px 40px;
    cursor:pointer;
    color: rgba(108,122,30,1);
    border:1px solid rgba(0,0,0,0.3);
    font-size:18px;
    border-radius: 50px;
    transition:all 0.5s ease 0s;
}

.submit-btn:hover{
    background-color:rgba(27, 231, 27, 0.8);
    color:black;
    transition:all 0.5s ease 0s;
}

/**************** Boutons "voir,masquer les comm" ************/
.return button i{
    font-size:25px;
    margin-top:10px;
}

/********************** Les commentaires *********************/
#body .comm-title, #body #comments-title{
    flex-direction:column;
    margin-top:50px;
}

.refproduct{
    font-size:13px;
    font-style: italic;
    margin:0 20px;
}

.comm-title, #target,#comments-title, #target-admin{
    color: rgba(90,90,90,1);
    margin:0 20px;
}

#body #target, #body #target-admin{
    max-width:340px;
    margin:0 auto;
}

.comments-title{
    font-size:20px;
    margin:0 20px;
}

#target .comments, #target-admin #comments{
    list-style: disclosure-closed;
    padding:0;
    margin: 0 auto;
}

#target .comments li,#target-admin #comments li{
    margin:40px 21px 40px 48px;;
    max-width:340px; 
    overflow-wrap: break-word;
}

#target .comments li p, #target-admin #comments li p{
    margin:0;
    font-size:14px;
    text-align: left;
    padding: 3px;
}

#target .comments li span,#target-admin #comments li span{
    font-size:15px;
} 


#body #target .comments li .pseudo, #target-admin #comments .pseudo {
    text-decoration: underline;
    color:rgba(90,90,90,1);

}

#body #target .comments li .satisfaction, #target-admin #comments .satisfaction{
    border:1px solid grey;
    border-radius:20px;
    padding:1px 3px;
    animation: satisfaction 3s infinite ;   
}

@keyframes satisfaction{
    
    50%{
        background-color:rgba(0,255,0,0.3);
    }
}

#target-admin #comments li p a {
    text-decoration : none;
}

.del-comm-btn{
    color:blue;
    font-size:14px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    cursor:pointer;
    padding:5px;
    margin-top:5px;
}

#body #product .del-comm-btn:focus{
    background-color: transparent;
    border: 1px solid black;
}


/****************************************************************************************
*                                                                                       *
*                                   MAIN STANDARDS                                      *
*                                                                                       *
****************************************************************************************/
#standards{
    margin:0 20px;
}
#standards article{
    margin:20px auto;
    max-width: 400px;
}

#standards h2{
    margin-top:50px;
    color:rgba(182,192,69,1);
}

#standards img{
    width:80px;
}
/****************************************************************************************
*                                                                                       *
*                                 MAIN SPONSORSHIP                                      *
*                                                                                       *
****************************************************************************************/
#sponsorship img{
    width:100px;
    border-radius:100%;
}
#sponsorship .div-sponsorship{
    max-width:600px;
    margin:0 auto;
}

#sponsorship article{
    margin:70px 20px 0;
}

#sponsorship .sale ul{
    padding-left:15px;
    text-align: left;
    max-width:450px;
    margin:0 auto;
} 

#sponsorship .sponsorship a{
    color:black;
    font-weight: bold;
}
/****************************************************************************************
*                                                                                       *
*                                    MAIN CONTACT                                       *
*                                                                                       *
****************************************************************************************/
#contact{
    margin:5px 10px;
}

#body #contact-h1{
    font-size:30px;
    margin:0;
    border:0;
}

#body #contact-h2{
    font-size:25px;
    margin:0 0 30px;
}

/********************* Formulaire de contact *****************/
#contact fieldset{
    max-width: 400px;
    margin: 0 auto;
}

#contact form fieldset legend{
    font-size: 25px;
    color: rgba(108,122,30,1);
}

#contact form fieldset ul{
    list-style: none;
    padding-left: 0;
}

#contact form fieldset ul li{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
}

/******************** Boutons radio MR, MME ******************/
#contact form fieldset ul li:first-of-type{
    justify-content: center;
}

#contact form fieldset ul li:first-of-type div{
    padding:0 35px;
}

#contact form fieldset ul li:first-of-type label,#contact form fieldset ul li:first-of-type input{
    cursor:pointer;
    background-color: transparent;
}

#contact form fieldset ul li div{
    display: flex;
    flex-direction: column;
    align-items:center;
}

#contact form fieldset ul li div input{
    height:20px;
}

/********** Les champs de saisie du form de contact **********/
#contact form fieldset ul li>input,#contact form fieldset ul li select,#contact form fieldset ul li textarea{
    width:172px;
}

#contact form fieldset ul li input,#contact form fieldset ul li select{
    height: 35px;
    margin-bottom: 5px;
    border:0;
    background-color: rgba(0,255,0,0.2);
    border-radius: 20px;
    padding:0 15px;
}

#contact form input:focus,#contact form textarea:focus{
    background-color: rgba(0,255,0,0.4);
    border:0;
    outline: -webkit-focus-ring-color auto 0px;  /*permet de contrer le focus "natif" sur webkit : chrome .... */
}

#contact form fieldset ul li select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#contact form fieldset ul li select:focus{
    outline: -webkit-focus-ring-color auto 0px;  /*permet de contrer le focus "natif" sur webkit : chrome .... */
}

#contact form textarea{
    resize:none;
    height:170px;
    border:0;
    background-color: rgba(0,255,0,0.2);
    border-radius: 20px;
    padding:10px 0 10px 15px;
}

/******************** Adresse, Mail, Téléphone ****************/
#address{
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

#body #address h3{
    font-size:25px;
    margin-bottom:10px;
}

#address address{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:10px 0;
    color:rgba(58,157,35,1);
    font-size:17px;
}

#address .fa{
    font-size:20px;
    color:rgba(58,157,35,1);
}

#address p{
    margin:0;
}

#address a{
    text-decoration: none;
    color:rgba(52,201,36,1);
}

/************************** Google Map ***********************/
iframe{
    width:100%;
    height:400px;
    border:0;
    margin-bottom:-5px;
}

/****************************************************************************************
*                                                                                       *
*                                 MAIN ADMIN COMMUN                                     *
*                                                                                       *
****************************************************************************************/
/**** ".admin-menu "commun à ADMINMESSAGE et ADMINADDEVENT ***/
.admin-menu{                                              
    text-align: left;                                     
    padding-top: 30px;                                    
    font-size:13px;                                       
}                                                         
.admin-menu a{                                            
    text-decoration: none;                                
    color:rgba(108,122,30,1);                           
    padding:10px;                                         
}                                                         

/********************* Les boutons <button> ******************/
.admin-btn{
    text-decoration: none;
    color:rgba(0,100,0,1);
    padding:10px;
    border:1px solid rgba(200,200,200,1);
    transition:all 0.5s ease 0s;
    line-height: 1.5;
    font-size:18px;
    background-color: transparent;
    cursor: pointer;
    width:250px;
}

.admin-btn i{
    transform:scale(1);
    transition:all 0.5s ease 0s;
    display:block;
    font-size:25px;
}

.admin-btn:hover{
    background-color:rgba(58,242,75,0.5);
    transition:all 0.5s ease 0s;
}

.admin-btn:hover i{
    transform:scale(1.4);
    transition:all 0.5s ease 0s;
}


/****************** Les boutons DECONNEXION ******************/
.logout-btn .admin-btn{
    margin:30px 0;
    color:rgba(255,0,0,1);
}

.logout-btn .admin-btn:hover{
    background-color:rgba(255,0,0,0.1);
}
/******************** Les boutons <a href> *******************/
.admin-a-btn{
    text-decoration: none;
    color:rgba(0,100,0,1);
    padding:10px;
    font-size:18px;
    border:1px solid rgba(200,200,200,1);
    transition:all 0.5s ease 0s;
    display:flex;
    flex-direction:column;
    width:250px;
    margin:0 auto;
}

.admin-a-btn i{
    transform:scale(1);
    transition:all 0.5s ease 0s;
}

.admin-a-btn:hover{
    background-color:rgba(58,242,75,0.5);
    transition:all 0.5s ease 0s;
}

.admin-a-btn:hover i{
    transform:scale(1.4);
    transition:all 0.5s ease 0s;
}

/****************************************************************************************
*                                                                                       *
*                                  MAIN ADMINLOGIN                                      *
*                                                                                       *
****************************************************************************************/
#admin-login{
    padding:50px 20px 20px;
    max-width:450px;
    margin: 0 auto;
}

#body #container #admin-login .error-message ul li{
    text-align: center;
}

#admin-login form fieldset legend{
    font-size:22px;
    color:rgba(108,122,30,1);
}

#admin-login form ul {
    list-style-type:none;
    padding:0;
}

#admin-login form ul li{
    display:flex;
    flex-direction: column;
    padding:20px 40px;
}

#admin-login form ul li input{
    width:162px;
    margin: 0 auto;
    background-color: rgba(0,255,0,0.2);
    border: 2px solid grey;
    padding: 5px;
    border-radius:20px;
    text-align:center;
}

#admin-login form ul li input:focus{
    background-color:rgba(0,255,0,0.4);
}
/****************************************************************************************
*                                                                                       *
*                                    MAIN ADMIN                                         *
*                                                                                       *
****************************************************************************************/
#admin{
    color:black;
}

#admin .admin-messages h1{
    padding-top:30px;
    margin-top:0;
}

#admin table{
    border-collapse: collapse;
    margin:0 auto 20px;;
}

#admin th,#admin td{
    font-size:14px;
    border:1px solid black;
}

#admin td{
    font-family:'OpenSansRegular', sans-serif;
    padding:3px 2px;
    height:56px;
}
/********** Les icônes en fin de ligne des tableaux **********/
#admin table .fa{
    padding:5px;
    font-size:20px;
    color:rgba(0,100,0,1);
}

#admin .admin-news-events tbody td:last-of-type div{
    display:flex;
    flex-wrap: nowrap;
}

#admin .admin-news-events tbody td:last-of-type div a{
    padding:0;
}

/********* Couleurs et Hover des lignes des tableaux *********/
#admin .admin-messages tbody tr:nth-of-type(odd){
    background-color: rgba(50,205,50,0.3);
}

#admin .admin-messages table tbody tr:hover{
    background-color: rgba(50,205,50,0.7);
    cursor:pointer;
}

#admin .admin-news-events tbody tr:nth-of-type(odd){
    background-color: rgba(244,164,96,0.4);
}

#admin .admin-news-events table tbody tr:hover{
    background-color: rgba(244,164,96,0.7);
    cursor:pointer;
}

#admin .admin-products tbody tr:nth-of-type(odd){
    background-color: rgba(255,105,180,0.4);
}

#admin .admin-products table tbody tr:hover{
    background-color: rgba(255,105,180,0.7);
    cursor:pointer;
}

#admin .update-login{
    display:block;
    text-decoration: none;
    font-size:13px;
    color:rgba(108,122,30,1);
}

/****************************************************************************************
*                                                                                       *
*                                MAIN ADMINMESSAGE                                      *
*                                                                                       *
****************************************************************************************/
#admin-message{
    margin:0 20px;
}
#body #admin-message h1{
    padding-top: 15px;
    margin-top: 0;
}

#admin-message .user-message{
    padding-left:0;
    max-width: 500px;
    margin:0 auto;
}

#admin-message .user-message li{
    display:flex;
    flex-direction: row;
    text-align:left;
    color:black;
    font-size:16px;
    margin:10px 0;
    overflow: hidden;
    width: 100%;
}

#admin-message .user-message li:first-of-type div{
    display:flex;
    flex-direction:column;
}

#admin-message .user-message li:first-of-type div span{
    margin:3px 0;
}

#admin-message .user-message li:first-of-type div a{
    color:rgba(130,130,130,1);
    text-decoration: none;
}
/************ Les Couleurs des span adminMessage *************/
#admin-message .user-message li:first-of-type span:first-of-type{
    text-decoration: underline;
    color: rgba(92, 38, 131, 1);
    padding-right:53px;
}

/*on surcharge la div pour laisser le nom et prenom en couleur noir et sans soulignement*/
#admin-message .user-message li:first-of-type div span:first-of-type{
    color:black;
    text-decoration:none; 
}

#admin-message .user-message li:nth-of-type(2) span:first-of-type{
    text-decoration: underline;
    color:rgba(140, 204, 92,1);
    padding-right:21px;
}

#admin-message .user-message li:nth-of-type(3) span:first-of-type{
    text-decoration: underline;
    color:rgba(12, 100, 174,1);
    padding-right:36px;
}

#admin-message .user-message li:nth-of-type(4) span:first-of-type{
    text-decoration: underline;
    color:rgba(235, 75, 155,1);
    padding-right:10px;
}

/******** Boutons Répondre et Supprimer adminMessage *********/
 #admin-message .message-btn{
    margin-top:50px;
}

/****************************************************************************************
*                                                                                       *
*                               MAIN ADMINEVENTFORM                                     *
*                              MAIN ADMINPRODUCTFORM                                    *
*                                                                                       *
****************************************************************************************/
#admin-add-event,#admin-product{
    margin:0 20px;
}

#body #admin-add-event h1,#body #admin-product h1{
    margin-top: 0;
    padding-top: 15px;
}

#admin-add-event form ul,#admin-product form ul{
    list-style-type: none;
    padding-left:0;
    color:black;
}

#admin-add-event form ul li,#admin-product form ul li{
    display:flex;
    flex-direction: column;
    margin:10px 0;
}

/****** Mise en forme des champs de saisie du formulaire *****/
#admin-add-event form ul li select,#admin-product form ul li select{
    width:70px;
    text-align: center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: -webkit-focus-ring-color auto 0px;  /*permet de contrer le focus "natif" sur webkit : chrome .... */
}

#admin-product form ul li select{/*surcharge pour une mise en forme correcte du champ select de admin_product.php*/
    width:220px;
    margin:0 auto;
}

#admin-add-event form ul li input,#admin-product form ul li input{
    width:220px;
    margin:0 auto;
    outline: -webkit-focus-ring-color auto 0px;  /*permet de contrer le focus "natif" sur webkit : chrome .... */
    text-align: center;
}

#admin-add-event .div-event-field .italic{
    margin-bottom: 50px;
}

#body #admin-add-event form ul li textarea,#body #admin-product form ul li textarea{
    width:220px;
    height:250px;
    resize:none;
    margin:0 auto;
    padding-top: 5px;
    outline: -webkit-focus-ring-color auto 0px;  /*permet de contrer le focus "natif" sur webkit : chrome .... */
}

#admin-add-event form ul li select,#admin-add-event form ul li input , #admin-add-event form ul li textarea,#admin-product form ul li select,#admin-product form ul li input,#admin-product form ul li textarea{
    height: 35px;
    margin-bottom: 5px;
    border:0;
    background-color: rgba(0,255,0,0.2);
    border-radius: 20px;
    padding:0 15px;
}


/****************************************************************************************
*                                                                                       *
*                                   Page ERROR                                          *
*                                                                                       *
****************************************************************************************/

#page-error div{
    display:flex;
    flex-direction:column;
}

#page-error h1{
    margin-bottom: 0;
    padding-top:25px;
}

#page-error .oups{
    color:rgba(108,122,30,1);
    font-size: 40px;
    margin-top:0;
}

#page-error img{
    width:250px;
    margin:0 auto;
    border-radius:40% 130%;
}

#page-error .page-error-msg{
    font-size:25px;
    color: red;
}

#page-error a:first-of-type{
    margin-top:35px;
}

#page-error a{
    margin:10px auto;
    border-radius:20px;
    border:2px solid rgba(200,200,200,1);
    width:190px;
}

/****************************************************************************************
*                                                                                       *
*                                      FOOTER                                           *
*                                                                                       *
****************************************************************************************/
footer{
    background:url(../img/bgfooter.jpg) center bottom no-repeat;
    background-size: cover;
}

footer > div{
    display:flex;
    flex-direction:column;
    background:linear-gradient(180deg,rgba(255,255,255,1),rgba(255,255,255,0.1)) ;
}

/*********************** Logo Footer *************************/
footer .div-logo-footer{
    padding:65px 50px 50px;
}

footer .div-logo-footer img{
    width:200px;
}

/********************** Logos Normes *************************/
footer .standards img{
    width:40px;
    padding:0 0 20px;
}

/************ Liens site maison Mère & Contact ***************/
footer .footer-link{
    display:flex;
    justify-content:center;
    align-items: flex-end;
    margin-bottom:30px;
}

footer .footer-link a{
    display:flex;
    flex-direction: column;
    align-items:center;
    font-size:13px;
    text-decoration: none;
    color:white;
    margin:5px;
    width:70px;
}

footer .footer-link a img{
    width:70px;
}

footer .footer-link a i{
    padding-bottom:14px;
    font-size:20px;
}

/****************************************************************************************
*                                                                                       *
*                                 MEDIAQUERRIES                                         *
*                                                                                       *
****************************************************************************************/

/******************************** MODE TABLETTE ****************************************/

@media screen and (min-width:768px){
    /********************** HEADER *********************/
    .logo{
        max-width:150px;
    }
    header figure figcaption{
        font-size:28px;
        margin-left:30px;
    }
    .div-nav-btn{
        font-size:25px;
    }
    .fa-bars{
        padding:0 25px;
    }
    /******************** MAIN COMMUN ******************/
    main{
        background-color:rgba(255,255,255,0.1);
    }
    main #container{
        max-width:900px;
    }
    #body .fa-chevron-circle-up{
        right:15px;
    }
    main .admin-connection{
        width:320px;
    }
    main .next-event .slider-events .bg-slider{
        width:450px;
        height:100px;
    }
    /*********************** HOME **********************/
    #home{
        display:flex;
        flex-direction: row;
    }
    #articles{
        margin:0 10px;
    }
    #news-events{
        height:100%;
        margin:75px 20px 0;
    }
    /******************** ALOE VERA ********************/
    /******************** PRODUITS *********************/
    #products section .products-container{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #products section article{
        justify-content: space-between;
        max-width: 220px;
        margin:0 30px;
    }
    #products #house-animals{
        max-width:700px;
        margin:0 auto;
    }
    /******************* PRODUITS SEULS ****************/
    #product>div{
        display:flex;
        align-items: center;
        max-width: 700px;
    }
    #product .description{
        width:370px;
    }
    #product form fieldset ul li>input,#product form fieldset ul li select,#product form fieldset ul li textarea{
        width:250px;
    }
    #body #target, #body #target-admin{
        max-width:410px;
    }
    #target .comments li,#target-admin #comments li{
        margin:40px 21px 40px 21px;
        max-width:410px; 
    }
    /********************** NORMES *********************/
    #standards{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    #standards article{
        width:36%;
        margin:20px 7%;
    }
    /********************* CONTACT *********************/
    #contact form fieldset ul li>input,#contact form fieldset ul li select,#contact form fieldset ul li textarea{
        width:250px;
    }
    /******************* ADMIN LOGIN *******************/
    #admin-login{
        max-width:600px;
    }
    #body #container #admin-login .error-message ul li{
        flex-direction : column; /*  surcharge de "#admin-login form ul li" pour accepter le text-align-center*/
    }
    #admin-login form ul li{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        white-space: nowrap; 
        padding:20px 60px;
    }
    #admin-login form ul li input{
        margin:0;
    }
    /********************** ADMIN **********************/
    #admin .admin-news-events th:nth-of-type(2),#admin .admin-news-events th:nth-of-type(3){
        width:120px;
    }
    #admin td{
        padding:3px 4px;
        font-size:15px;
        height:37px;
    }
    #admin td.hidden,#admin th.hidden{
        display:table-cell;
    }
    #admin .admin-messages td:nth-of-type(3),#admin .admin-messages td:nth-of-type(6),#admin .admin-messages th:nth-of-type(3),#admin .admin-messages th:nth-of-type(6),#admin .admin-news-events th:nth-of-type(3),#admin .admin-news-events td:nth-of-type(3){
        display:none;
    }
    /******************* ADMIN MESSAGE *****************/
    #admin-message .user-message li{
        font-size:17px;
    }
    #admin-message .message-btn{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    /********** ADMIN ADD EVENT+ ADMIN PRODUCT *********/
    #admin-add-event form ul,#admin-product form ul{
        display:flex;
        justify-content: space-around;
    }
    #admin-add-event .div-event-field .italic{
        margin-bottom: 13px;
    }
    #admin-add-event .description-title{
        margin-bottom: 10px;
    }
    #body #admin-add-event form ul li textarea,#body #admin-product form ul li textarea{
        width:400px;
        height:310px;
    }
    #admin-add-event .required-description{
        margin-top:21px;
    }
    /********************* Page ERROR ******************/
    #page-error > div{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    #page-error .page-error-second-div{
        flex-direction:row
    }
    #page-error img{
        width:340px;
    }
    /*********************** FOOTER ********************/
}

/******************************** MODE ORDINATEUR **************************************/
@media screen and (min-width:1025px){
    /******************** CSS COMMUN *******************/
    #body{
        font-size: 17px;
    }
    #body .title{
        font-size:40px;
    }
    #body .title-small{
        font-size:30px;
    }
    #bubble0,#bubble1,#bubble2,#bubble3,#bubble4,#bubble5,#bubble6,#bubble7,#bubble8,#bubble9{
        display:block;
    }
    /********************** HEADER *********************/
    .div-nav-btn{
        display:none;
    }
    header > div{
        justify-content: center;
    }
    .logo{
        max-width:200px;
    }
    header figure figcaption{
        font-size:40px;
    }
    header nav{
        flex-direction:row;
        background-color: transparent;
        position:static; 
        overflow-x: visible;   
        justify-content: space-around;
        width:100%;
        margin:0;
        font-family: 'Amaranth', sans-serif;
    }
    .border-nav{
        border:none;
    }
    header nav a{
        display:inline-block;
        padding:10px 25px;
        width:147px;
        font-size:22px;
    }
    header nav a:first-of-type:hover,header nav a:nth-of-type(2):hover,header nav a:nth-of-type(3):hover,header nav a:nth-of-type(4):hover,header nav a:nth-of-type(5):hover,header nav a:nth-of-type(6):hover,header nav a:last-of-type:hover{
        color:black;
    }
    header nav a:first-of-type{
        color:rgba(255,200,0,1);
    }
    header nav a:nth-of-type(2){
        color:rgba(0,255,0,1);
    }
    header nav a:nth-of-type(3){
        color:rgba(75,0,130,1);
    }
    header nav a:nth-of-type(4){
        color:rgba(255,140,0,1);
    }
    header nav a:nth-of-type(5){
        color:rgba(0,154,160,1);
    }
    header nav a:last-of-type{
        color:rgba(255,105,180,1);
    }
    /******************** MAIN COMMUN ******************/
    main #container{
        max-width:1100px;
    }
    main .admin-connection{
        font-size: 15px;
        width:520px;
    }
    main .admin-connection i{
        font-size:19px;
    }

    main .admin-connection .span-login{
        font-size:17px;
    }
    main .next-event{
        max-width: 700px;
    }
    main .next-event .title-event img{
        width:25px;
        height:100px;
        top:-45px;
        left:140px;
    }
    main .next-event .title-event p{
        font-size:30px;
        margin:0;
    }
    main .next-event .slider-events .bg-slider{
        width:650px;
        height:125px;
    }
    main .next-event .slider-events img:first-of-type{
        width:75px;
        right:-20px;
    }
    main .next-event .slider-events .bg-slider p{
        font-size:25px;
    }
    main .next-event .slider-events img:nth-of-type(2){
        width:75px;
    }
    /*********************** HOME **********************/
    #home .identity {
        font-size:25px;
    }
    #home img{
        width:130px;
    }
    #news-events .title-news{
        font-size:35px;
    }
    /******************** ALOE VERA ********************/
    #aloe-vera{
        max-width:700px;
    }
    #aloe-vera .aloe-description img:first-of-type{
        width:130px;
        margin: 10px 20px 5px;
    }
    
    #aloe-vera .aloe-description img:nth-of-type(2){
        width:130px;
        margin: 10px 20px 5px;
    }
    
    #aloe-vera .aloe-description img:nth-of-type(3){
        width:160px;
    }
    /******************** PRODUITS *********************/
    #body #products .title{
        margin:30px 30px 0;
    }
    #products nav{
        font-size:19px;
    }
    #products h2{
        font-size:35px;
    }
    /******************* PRODUITS SEULS ****************/
    #product fieldset{
        max-width: 800px;
    }
    #product form fieldset ul li>input,#product form fieldset ul li select,#product form fieldset ul li textarea{
        width:500px;
    }
    #product form textarea{
        width:350px;
        height:300px;
    }
    .commentary-inform{
        max-width:800px;
    }    
    #body #target, #body #target-admin{
        max-width:540px;
    }
    #target .comments li,#target-admin #comments li{
        margin:40px 21px 40px 21px;
        max-width:540px; 
    }
    /********************** NORMES *********************/
    /********************* CONTACT *********************/
    #body #contact-h1{
        font-size:45px;
        margin:30px 30px 0;
    }
    
    #body #contact-h2{
        font-size:30px;
    }
    #contact-address{
        display:flex;
        justify-content: center;
    }
    #contact{
        width:120%;
    }
    #contact fieldset{
        max-width: none;
    }
    #contact form fieldset ul li>input,#contact form fieldset ul li select,#contact form fieldset ul li textarea{
        width:350px;
    }
    #contact form textarea{
        width:350px;
        height:300px;
    }
    .error-message{
        max-width:589px;
    }
    #address{
        width:100%;
    }
    #address address{
        font-size:20px;
    }
    iframe{
        height:550px;
    }
    /******************* ADMIN LOGIN *******************/
    /********************** ADMIN **********************/
    #admin .admin-messages td:nth-of-type(3),#admin .admin-messages td:nth-of-type(6),#admin .admin-messages th:nth-of-type(3),#admin .admin-messages th:nth-of-type(6),#admin .admin-news-events th:nth-of-type(3),#admin .admin-news-events td:nth-of-type(3){
        display:table-cell;
    }
    /******************* ADMIN MESSAGE *****************/
    #admin-message .user-message li{
        font-size:18px;
    }
    #admin-message .user-message{
        max-width: 700px;
    }
    /********** ADMIN ADD EVENT+ ADMIN PRODUCT *********/
    #admin-add-event form ul li input,#admin-product form ul li input,#admin-product form ul li select{
        width:270px
    }
    #body #admin-add-event form ul li textarea,#body #admin-product form ul li textarea{
        width:500px;
    }
    /********************* Page ERROR ******************/
    #page-error .oups {
        font-size:50px;
    }
    #page-error .page-error-msg {
        font-size:35px;
    }
    #page-error img{
        width:400px;
    }
    /*********************** FOOTER ********************/    
    footer .div-logo-footer img{
        width:250px;
    }
    footer .standards img{
        width:50px;
    }
    footer .footer-link a{
        font-size:18px;
        width:120px;
        margin-bottom: 20px;
    }
    footer .footer-link a img{
        width:90px;
    }
    footer .footer-link a i{
        font-size:35px;
    }
}