
/****************************************************************************************
*                                                                                       *
*                                        FONTS                                          *
*                                                                                       *
****************************************************************************************/
@font-face {
	font-family: "Amaranth";
	src: url("../fonts/amaranth.otf");
}

@font-face {
	font-family: "BreeSerif";
	src: url("../fonts/breeserif.ttf");
}

@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/opensans/OpenSans-Light.ttf");
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/opensans/OpenSans-Bold.ttf");
}

/****************************************************************************************
*                                                                                       *
*                                     CSS COMMUN                                        *
*                                                                                       *
****************************************************************************************/

*{
    box-sizing:border-box;
}

body{
    font-family: "BreeSerif", sans-serif;
    text-align:center;
    background: url(../img/bubbles2.jpg);
    background-size: contain;
    color: rgba(90,90,90,1);
}

.hidden{
    display:none;
}

/****************************************************************************************
*                                                                                       *
*                                         HEADER                                        *
*                                                                                       *
****************************************************************************************/

header{
    border-bottom: 1px solid grey;
    background-color:rgba(255,255,255,0.8);
}

.logo{
    width:100%;
    max-width:100px;
}

header > div{
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    margin:0;
}

header figure{
    text-align:left;
    margin:0;
    display:flex;
    align-items: center;
}

header figure figcaption{
    font-size:20px;
    color:rgba(108,122,30,1);
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}

/**************************** Nav ****************************/

.div-nav-btn{
    font-size:20px;
    text-align: right;
    padding-bottom:9px;
}

.div-nav-btn span{
    padding:7px 15px;
    cursor: pointer;
}

.fa-bars{
    color:#7acf47;
    transition:all 0.5s ease 0s;
}

.rotate-nav-btn{
    transform: rotate(90deg);
    transition:all 0.5s ease 0s;
}

.width-nav{
    width:232px;
}

.border-nav{
    border:1px solid black;
}

header nav{
    display:flex;
    flex-direction:column;
    background-color: white;
    position:absolute;
    right:0;
    z-index: 100;
    font-family: 'OpenSansLight';
    width: 0;
    transition:all 0.5s ease 0s;
    overflow-x: hidden;
}

header nav a{
    display:block;
    text-decoration:none;
    color:black;
    padding:10px 50px;
    margin:10px;
    border : 1px solid rgba(0,0,0,0.2);
    font-size:20px;
    transition:all 0.5s ease 0s;
    white-space: nowrap;
}

header nav a:hover{
    transition:all 0.5s ease 0s;
    /*transform:scale(1.1);*/
    transform:translateY(-3px);
}

header nav a:first-of-type:hover{
    background-color:rgba(255,255,0,0.4);
}

header nav a:nth-of-type(2):hover{
    background-color:rgba(0,255,0,0.4);
}

header nav a:nth-of-type(3):hover{
    background-color:rgba(75,0,130,0.4);
}

header nav a:nth-of-type(4):hover{
    background-color:rgba(255,140,0,0.4);
}

header nav a:nth-of-type(5):hover{
    background-color:rgba(0,154,160,0.4);
}

header nav a:last-of-type:hover{
    background-color:rgba(255,105,180,0.4);
}


/****************************************************************************************
*                                                                                       *
*                                   MAIN COMMUN                                         *
*                                                                                       *
****************************************************************************************/

main{
    background-color:rgba(255,255,255,0.6);
    padding-bottom:50px;
}

#body .title{
    font-size:30px;
    margin:30px 30px 40px ;
    font-family: 'Amaranth', sans-serif;
    color:rgba(108,122,30,1);
    border-bottom :1px solid rgba(200,200,200,1);
    line-height:1.4;
}

#body .title-small{ 
    font-size:25px;
    margin:30px 30px 40px ;
    font-family: 'Amaranth', sans-serif;
    color:rgba(108,122,30,1);
    text-decoration: underline;
}

#body .fa-chevron-circle-up{ 
    color:rgba(0,0,0,0.3);
    font-size:40px;
    position: fixed;
    z-index:50;
    bottom:20px;
    right:5px;
}

/******************* Message Prochain Evénement **************/

main .next-event{
    padding-top:15px;
}

main .next-event div{
    font-size:15px;
    font-weight:bold;
    color:rgba(101,222,12,1);
    border:1px dashed white;
    padding:5px 0;
    margin:0 15px;
}

main .next-event div p{
    margin:0;
}

.blink{
    animation: background-blink 1.5s 5;
}

@keyframes background-blink { 
    0%{

    
    } 50% { 
        background-color:rgba(101,222,12,0.5);
        color:black;
        border:1px dashed black;
    }
}

/****************************************************************************************
*                                                                                       *
*                                   MAIN HOME                                           *
*                                                                                       *
****************************************************************************************/

/********** Articles "Qui suis-je?" , "Notre Histoire" *******/

#home .history{
    margin: 60px 0;
}

#home .identity {
    font-size:20px;
    color:rgba(50,205,50,1);
}

#home p{
    line-height:1.4;
    margin:20px;
}


#home a{
    font-weight:bold;
    color:black;
}

#home img{
    width:100px;
    float:left;
    margin-left: 20px;
}

/********************  Aside "News&Events" *******************/

#news-events{
    background:linear-gradient(135deg, rgba(255, 255, 255,0.5) ,rgba(120, 255, 0,0.5) );
    /*background-color:rgba(255,255,0,0.1);*/
    padding:30px 5px;
    margin:0 20px;
    border: 3px outset rgba(0,0,0,0.4);
    color:rgba(108,122,30,1);
    box-shadow:0px 0px 15px black;
}

#news-events .title-news{
    font-size:30px;
    margin:30px 0 50px;
}

#news-events ul li{
    text-align: left;
    font-size:14px;
}


/****************************************************************************************
*                                                                                       *
*                                   MAIN ALOE VERA                                      *
*                                                                                       *
****************************************************************************************/


/******************* Description de l'Aloe Vera **************/


#aloe-vera .aloe-description img:first-of-type{
    width:100px;
    float:left;
    margin-left: 20px;
}

#aloe-vera .aloe-description img:nth-of-type(2){
    width:100px;
    float:right;
    margin-right: 20px;
}

#aloe-vera .aloe-description img:nth-of-type(3){
    width:150px;
}

#aloe-vera .aloe-description p{
    line-height:1.4;
    margin:20px;
}

/************************* Les 10 raisons ********************/

#aloe-vera .reasons ol{
    padding:0 20px 0 50px;
    font-family:'OpenSansRegular', sans-serif;
    max-width:505px;
    margin:0 auto;
    text-align:left;
}

#aloe-vera .reasons ol li{
    opacity:0;
    transition:opacity,0.5s;
}

#aloe-vera .reasons ol li.vis-visible{
    opacity:1;
    transition:opacity,0.5s;
}

#aloe-vera .reasons ol li p{
    font-family: "OpenSansBold", sans-serif;
}


/****************************************************************************************
*                                                                                       *
*                                   MAIN PRODUCTS                                       *
*                                                                                       *
****************************************************************************************/

#body #products .title{
    margin:0 30px;
} 

#products .first-title{
    margin-top:50px;
}

#products section{
    margin:20px;
}

#products nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items:center;
}

#products nav a{
    text-decoration:none;
    width:80px;
}

#products nav a:first-of-type,#products nav a:nth-of-type(2),#products nav a:nth-of-type(3),#products nav a:nth-of-type(4){
    padding:9px 0;
}


#products section article{
    display:flex;
    flex-direction: column;
    margin-top:70px;
}

#products section article:first-of-type{
    margin-top:0;
}

#products h2{
    font-size:40px;
    margin:100px 30px 0;
    font-family: "OpenSansBold", sans-serif;
    line-height:1.4;
    text-decoration: underline;
}

#products figcaption{
    font-size:20px;
    margin:20px 0 0;
}

#products img{
    width:150px;
    display:block;
    margin: 0 auto;
}

#products section a{
    color:white;
    border-radius:20px;
    padding:7px 10px;
    font-size:16px;
    border:0;
    cursor:pointer;
    text-decoration: none;
    transition:all 0.7s ease 0s;
}

#products section a:hover{
    background-color: white;
    transition:all 0.7s ease 0s;
    border:1px solid rgba(0,0,0,0.5);
}

#health a{
    background-color: rgba(92, 38, 131, 1);
}

#pain a{
    background-color: rgba(140, 204, 92,1);
}

#skin a{
    background-color: rgba(12, 100, 174,1);
}

#daily a{
    background-color: rgba(235, 75, 155,1);
}


#products nav a:first-of-type,#products #health a:hover, #products #health h2, #products #health figcaption{
    color: rgba(92, 38, 131, 1);
}

#products nav a:nth-of-type(2),#products #pain a:hover, #products #pain h2, #products #pain figcaption{
    color: rgba(140, 204, 92,1);
}

#products nav a:nth-of-type(3),#products #skin a:hover, #products #skin h2, #products #skin figcaption{
    color:rgba(12, 100, 174,1);
}

#products nav a:nth-of-type(4),#products #daily a:hover, #products #daily h2, #products #daily figcaption{
    color:rgba(235, 75, 155,1);
}

#products nav a:nth-of-type(5){
    color: rgba(90,90,90,1);
}

#products nav a:nth-of-type(6){
    color: rgba(221, 151, 20,1);
}

#products .description p:first-of-type{
    margin:30px 0;
    text-align: center;
}

#products .description p{
    text-align: left;
    margin-left:20px;
}

#products .description p span{
    text-decoration: underline;
}

#products #house-animals a{
    color:black;
    font-weight: bold;
    padding:0;
}

#products #house-animals a:hover{
    border:0;
}

/****************************************************************************************
*                                                                                       *
*                                   MAIN STANDARDS                                      *
*                                                                                       *
****************************************************************************************/

#standards article{
    margin:20px;
}

#standards h2{
    margin-top:50px;
    color:rgba(182,192,69,1);
}

#standards img{
    width:80px;
}

/****************************************************************************************
*                                                                                       *
*                                 MAIN SPONSORSHIP                                      *
*                                                                                       *
****************************************************************************************/

#sponsorship .title{
    margin-top:0;
}

#sponsorship img{
    width:100px;
    border-radius:100%;
}

#sponsorship article{
    margin:70px 20px 0;
}

#sponsorship .sale ul{
    padding-left:15px;
    text-align: left;
} 

#sponsorship .sponsorship a{
    color:black;
    font-weight: bold;
}

/****************************************************************************************
*                                                                                       *
*                                    MAIN CONTACT                                       *
*                                                                                       *
****************************************************************************************/

#contact{
    margin:5px 10px;
}

#body #contact  h1{
    font-size:25px;
    margin:0;
    border:0;
}

#body #contact h2{
    font-size:20px;
    margin:0 0 30px;
}

#contact fieldset{
    max-width: 400px;
    margin: 0 auto;
}

#contact form fieldset legend{
    font-size: 25px;
    color: rgba(108,122,30,1);
}

#contact form ul{
    list-style: none;
    padding-left: 0;
}

#contact form ul li{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
}

#contact form ul li:first-of-type{
    justify-content: space-evenly;
}

#contact form ul li div{
    display: flex;
    flex-direction: column;
}

#contact form ul li div input{
    height:20px;
}


#contact form ul li input,#contact form ul li select{
    height: 35px;
    margin-bottom: 5px;
    border:0;
    background-color: rgba(0,255,0,0.2);
    border-radius: 20px;
    padding-left:15px;
}

#contact form ul li select{
    width:172px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#contact form input:focus,#contact form textarea:focus{
    background-color: rgba(0,255,0,0.4);
    border:0;
}

#contact form textarea{
    resize:none;
    height:100px;
    border:0;
    background-color: rgba(0,255,0,0.2);
    border-radius: 20px;
    padding:10px 0 10px 15px;
}

#contact .submit-btn{
    background-color: white;
    padding:10px 40px;
    cursor:pointer;
    color: rgba(108,122,30,1);
    border:1px solid rgba(0,0,0,0.3);
    font-size:18px;
    border-radius: 50px;
    transition:all 0.5s ease 0s;
}

#contact .submit-btn:hover{
    background-color:rgba(27, 231, 27, 0.8);
    color:black;
    transition:all 0.5s ease 0s;
}

#address{
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

#body #address h3{
    font-size:25px;
    margin-bottom:10px;
}

#address address{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:10px 0;
    color:rgba(58,157,35,1);
    font-size:17px;
}

#address .fa{
    font-size:20px;
    color:rgba(58,157,35,1);
}

#address p{
    margin:0;
}

#address a{
    text-decoration: none;
    color:rgba(52,201,36,1);
}

#iframe iframe{
    margin-top:50px;
    width:100%;
    height:400px;
    border:0;
}

/****************************************************************************************
*                                                                                       *
*                                    PAGE ADMIN                                         *
*                                                                                       *
****************************************************************************************/

#admin{
    color:black;
}

#admin .admin-messages h1{
    padding-top:30px;
    margin-top:0;
}

#admin table{
    border-collapse: collapse;
    margin:0 auto 20px;;

}

#admin th,#admin td{
    font-size:15px;
    padding:8px;
    border:1px solid black;
}

#admin td{
    font-family:'OpenSansRegular', sans-serif;
}

#admin .admin-messages tbody tr:nth-of-type(odd){
    background-color: rgba(50,205,50,0.3);
}

#admin .admin-messages table tbody tr:hover{
    background-color: rgba(50,205,50,0.7);
    cursor:pointer;
}

/* #admin .admin-products tbody tr:nth-of-type(odd){
    background-color: rgba(255,105,180,0.4);
}

#admin .admin-products table tbody tr:hover{
    background-color: rgba(255,105,180,0.7);
    cursor:pointer;
} */

#admin .admin-news-events tbody tr:nth-of-type(odd){
    background-color: rgba(244,164,96,0.4);
}

#admin .admin-news-events table tbody tr:hover{
    background-color: rgba(244,164,96,0.7);
    cursor:pointer;
}

#admin table .fa{
    padding:5px;
    font-size:20px;
    color:rgba(0,100,0,1);
}

#admin section>a{
    text-decoration: none;
    color:rgba(0,100,0,1);
    padding:10px;
    border:1px solid rgba(200,200,200,1);
    transition:all 0.5s ease 0s;
}

#admin section > a:hover{
    background-color:rgba(255,255,0,0.3);
    transition:all 0.5s ease 0s;
}
#admin section>a:hover i{
    transform:scale(1.3);
    transition:all 0.5s ease 0s;
}

/****************************************************************************************
*                                                                                       *
*                                      FOOTER                                           *
*                                                                                       *
****************************************************************************************/

footer{
    background:url(../img/bgfooter.jpg) center bottom no-repeat;
    background-size: cover;
}

footer > div{
    display:flex;
    flex-direction:column;
    background:linear-gradient(180deg,rgba(255,255,255,1),rgba(255,255,255,0.1)) ;
}

footer .div-logo-footer{
    padding:65px 50px 50px;
}

footer .div-logo-footer img{
    width:200px;
}

footer .standards img{
    width:40px;
    padding:0 0 20px;
}

footer .footer-link{
    display:flex;
    justify-content:center;
    align-items: flex-end;
}

footer .footer-link a{
    display:flex;
    flex-direction: column;
    align-items:center;
    font-size:13px;
    text-decoration: none;
    color:white;
    margin:5px
}

footer .footer-link a img{
    width:70px;
}

footer .footer-link a i{
    padding-bottom:14px;
    font-size:20px;
}

/****************************************************************************************
*                                                                                       *
*                                 MEDIAQUERRIES                                         *
*                                                                                       *
****************************************************************************************/


@media screen and (min-width:768px){

}

@media screen and (min-width:1025px){

}